.calculator {
    padding: .5rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
h1 {
    background-color: rgba(161, 55, 55, .9);
    border-radius: .3rem;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    margin: 1rem auto
}
  
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(46, 102, 139);
    border-radius: .5rem;
}

label {
    font-size: 1.5rem;
    margin: .5rem 2rem;
    font-weight: bold;
    color: #f2f5f5;
}
input[type=text], select {
  padding: .4rem;  
  margin: .5rem 2rem;
  font-size: 20px;
}

input[type=submit] {
  background-color: seagreen;
  margin-top: 1rem;
  padding: .2rem 1rem;
  line-height: 6vh;
  color: #f2f5f5; 
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .1rem;
  border-radius: .3rem;
}

div p {
  margin-top: 1.2rem;
  font-size: 1.5rem;
  color: rgb(39, 36, 36);
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 760px) {
  .calculator {
    margin: 2rem auto;
    width: 70%;    
  }
  
  .calculator > h1 {
    font-size: 2rem;    
  }
  div p {    
    font-size: 1.8rem;    
  }
}
  